* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #eeeeee;
}

/* Calculator Container */

.calculator {
  width: 360px;
  padding: 22px;
  margin: 70px auto;
  background: #222222;
  border: 4px solid #111111;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

/* Display */

.display {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;

  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #eeeeee;
  border: 6px solid #111111;
  border-radius: 8px;

  color: #333333;
  font-size: 32px;

  overflow: hidden;
  white-space: nowrap;
}

/* Buttons Container */

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* All Buttons */

button {
  width: 100%;
  height: 60px;

  border: none;
  border-radius: 12px;

  background: #222222;
  color: white;

  font-size: 25px;
  font-weight: 500;

  cursor: pointer;

  transition: transform 0.1s, background 0.2s;
}

/* Number Buttons */

button:not(.function-btn):not(.operator-btn):not(.equal-btn) {
  background: #222222;
  color: white;
}

/* Hover */

button:hover {
  background: #333333;
}

/* Click Effect */

button:active {
  transform: scale(0.94);
}

/* AC, Backspace, +/- */

.function-btn {
  background: #111111;
  color: white;
}

.function-btn:hover {
  background: #333333;
}

/* Operators */

.operator-btn {
  background: #111111;
  color: white;
}

.operator-btn:hover {
  background: #333333;
}

/* Equal Button */

.equal-btn {
  background: #111111;
  color: white;
}

.equal-btn:hover {
  background: #333333;
}